option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: "application:app"

packages:
    yum:
        mesa-libGL-devel : []

commands:
    00_cd_root:
        command: 'cd ~'
    01_download_conda:
        command: 'wget https://repo.anaconda.com/archive/Anaconda3-2021.11-Linux-x86_64.sh'
    02_install_conda:
        command: 'bash Anaconda3-2021.11-Linux-x86_64.sh -b -f -p ~/anaconda'
    03_add_conda_path:
        command: "echo -e '\n# Anaconda\nexport PATH=~/anaconda/bin:$PATH' >> ~/.bashrc"
    04_activate_conda_in_shell:
        command: 'source ~/.bashrc'
    05_init_conda:
        command: 'conda init'

    06_conda_create:
        command: 'conda create -n tensorflow pip python=3.9'
    07_conda_activate:
        command: 'conda activate tensorflow'

    08_install_tensorflow:
        command: 'pip install --ignore-installed --upgrade tensorflow==2.5.0 --no-cache-dir'
    09_clone_tensorflow:
        command: 'git clone https://github.com/tensorflow/models'

    10_download_protobuf:
        command: 'wget https://github.com/protocolbuffers/protobuf/releases/download/v3.20.0/protoc-3.20.0-linux-x86_64.zip'
    11_unzip_protobuf:
        command: 'sudo unzip protoc-3.20.0-linux-x86_64.zip -d /usr'

    12_cd_tensorflow:
        command: 'cd models/research'
    13_protobuf_compilation:
        command: 'protoc object_detection/protos/*.proto --python_out=.'

    14_install_cython:
        command: 'pip install cython'
    15_install_cocoapi:
        command: 'pip install git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI'
    
    16_object_detection_api_setup:
        command: 'cp object_detection/packages/tf2/setup.py .'
    17_install_object_detection_api:
        command: 'python -m pip install --use-feature=2020-resolver . --no-cache-dir'

    18_install_flask:
        command: 'pip install Flask'
    19_install_flaskwtf:
        command: 'pip install Flask-WTF'
    20_install_flasksqlalchemy:
        command: 'pip install Flask-SQLAlchemy'
    21_install_flasklogin:
        command: 'pip install Flask-Login'
    22_install_flasksocketio:
        command: 'pip install Flask-ScoketIO'
    23_install_eventlet:
        command: 'pip install eventlet'
    24_install_mediapipe:
        command: 'pip install mediapipe'
    25_install_watchdog:
        command: 'pip install watchdog'
    26_install_readchar:
        command: 'pip install readchar'
    27_install_cryptography:
        command: 'pip install cryptography'
    28_install_emailvalidator:
        command: 'pip install email-validator'
    29_install_pythondotenv:
        command: 'pip install python-dotenv'
    30_install_pymysql:
        command: 'pip install pymysql'
    31_install_nltk:
        command: 'pip install nltk'

    32_open_python_shell:
        command: 'python'
    33_import_nltk:
        command: 'import nltk'
    34_install_nltk_punkt:
        command: "nltk.download('punkt')"
    35_close_python_shell:
        command: 'exit()'

    36_install_gunicorn:
        command: 'pip install gunicorn'




