option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: "application:app"

packages:
    yum:
        mesa-libGL-devel : []

commands:
    06_cd_root:
        command: 'cd ~'
    07_download_conda:
        command: 'wget https://repo.anaconda.com/archive/Anaconda3-2021.11-Linux-x86_64.sh'
    08_install_conda:
        command: 'bash Anaconda3-2021.11-Linux-x86_64.sh -b -f -p /anaconda'
    09_add_conda_path:
        command: 'export PATH=~/anaconda3/bin:$PATH'
    10_activate_conda_installation:
        command: 'source ~/.bashrc'

    11_conda_create:
        command: 'conda create -n tensorflow pip python=3.9'
    12_conda_activate:
        command: 'conda activate tensorflow'

    13_install_tensorflow:
        command: 'pip install --ignore-installed --upgrade tensorflow==2.5.0 --no-cache-dir'
    14_clone_tensorflow:
        command: 'git clone https://github.com/tensorflow/models'

    15_download_protobuf:
        command: 'wget https://github.com/protocolbuffers/protobuf/releases/download/v3.20.0/protoc-3.20.0-linux-x86_64.zip'
    16_unzip_protobuf:
        command: 'sudo unzip protoc-3.20.0-linux-x86_64.zip -d /usr'

    17_cd_tensorflow:
        command: 'cd models/research'
    18_protobuf_compilation:
        command: 'protoc object_detection/protos/*.proto --python_out=.'

    19_install_cython:
        command: 'pip install cython'
    20_install_cocoapi:
        command: 'pip install git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI'
    
    21_object_detection_api_setup:
        command: 'cp object_detection/packages/tf2/setup.py .'
    22_install_object_detection_api:
        command: 'python -m pip install --use-feature=2020-resolver . --no-cache-dir'

    23_install_flask:
        command: 'pip install Flask'
    24_install_flaskwtf:
        command: 'pip install Flask-WTF'
    25_install_flasksqlalchemy:
        command: 'pip install Flask-SQLAlchemy'
    26_install_flasklogin:
        command: 'pip install Flask-Login'
    27_install_flasksocketio:
        command: 'pip install Flask-ScoketIO'
    28_install_eventlet:
        command: 'pip install eventlet'
    29_install_mediapipe:
        command: 'pip install mediapipe'
    30_install_watchdog:
        command: 'pip install watchdog'
    31_install_readchar:
        command: 'pip install readchar'
    32_install_cryptography:
        command: 'pip install cryptography'
    33_install_emailvalidator:
        command: 'pip install email-validator'
    34_install_pythondotenv:
        command: 'pip install python-dotenv'
    35_install_pymysql:
        command: 'pip install pymysql'
    36_install_nltk:
        command: 'pip install nltk'

    37_open_python_shell:
        command: 'python'
    38_import_nltk:
        command: 'import nltk'
    39_install_nltk_punkt:
        command: "nltk.download('punkt')"
    40_close_python_shell:
        command: 'exit()'

    41_install_gunicorn:
        command: 'pip install gunicorn'




