<!DOCTYPE html>
{% extends 'base.html' %}
{% block title%}About{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <img src="static/audibleON_logo.png" width="150">
    <h4>About AudibleON</h4>
    <p>
        Audible ON, is a program, which is designed to auto detect gestures in American Sign Language (ASL) in order to enhance communication 
        abilities for users that may have a need for non-verbal communication in their daily life. Non-verbal communication is an imperative part 
        of life for those living with a hearing disability whether the impairment is mild or profound. Additionally, non-verbal communication 
        has become widely popular in the use of technology for user convenience. Considering this, this proposed application seeks to detect 
        and recognize ASL hand gestures for the purpose of communication. By utilizing computer vision and machine learning, a gesture can be 
        acknowledged and understood, resulting in either written, visual, or audible communication.
    </p>
    <p>Created by Cooper, Westburg, Lazzaro, Ahmed, Mercado, and Laubert (2022)</p>
</div>
{% endblock %}