{% extends 'base.html' %}
{% block title %}Translate from ASL{% endblock %}
{% block style %}
    .row {
      padding-top: 20px;
    }
{% endblock %}

{% block content%}

<div class="row">
    <div class="col align-items-start">
        <input type="radio" class="btn-check" name="options-outlined" id="words-btn" value="words" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="words-btn" type="submit">Words</label>

        <input type="radio" class="btn-check" name="options-outlined" id="letters-btn" value="letters" autocomplete="off">
        <label class="btn btn-outline-primary" for="letters-btn" type="submit">Letters</label>
    </div>
    <div class="col align-items-center">
        <img src="{{ url_for('views.video_feed') }}" style="border:1px solid black;">
    </div>

    <div class="col align-items-end">
        <h3>Translation output</h3>
        <textarea class="form-control" id="words" rows="5" disabled readonly></textarea>
        <button type="button" id="audio" class="btn btn-primary" onclick="getAudio()">Audio</button>
        <button type="button" id="clear" class="btn btn-primary" onclick="clearList()">Clear</button>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    function clearList() {
        $.ajax({url: "{{ url_for('views.clear_list') }}", type: 'POST'})
            .done(function() {
              console.log("clear pressed");
          });
        updateText();
    }

    $('.btn-check').click(function(){
    var formData = {
      'value': $(this).attr('value')
    };
    console.log(formData);
    $.ajax({
          type: 'POST',
          url: "{{ url_for('views.update_model') }}",
          data: formData,
          dataType: 'json',
          encode: true
      })
      .done(function(data) {
          console.log(data);
      })
    });

    var myTimer = setInterval(updateText, 2000);

    function updateText(){
        var updatedText = $.get("{{ url_for('views.get_words') }}");

        updatedText.done(function(results) {
            var result = "";
            results.results.forEach(item => {
                item = item.replaceAll("_", " ");
                result = result.concat(" ", item);
            });
            $('#words').text(result);
        });

    }

    function getAudio(){
        var updatedText = $.get("{{ url_for('views.get_words') }}");

        updatedText.done(function(results) {
            var result = "";

            results.results.forEach(item => {
                item = item.replaceAll("_", " ");
                result = result.concat(" ", item);
            });

            console.log(result)
            var msg = new SpeechSynthesisUtterance('Translated output:'+result);
            window.speechSynthesis.speak(msg);

        })
    }

    document.addEventListener('keypress', (event) => {
      var name = event.key;
      var code = event.code;
      // Alert the key name and key code on keydown
      console.log(`Key pressed ${name} \r\n Key code value: ${code}`);
      if (name === 'q') {
        clearInterval(myTimer);
      }
    }, false);
</script>
{% endblock %}