<!DOCTYPE html>
{% extends 'base.html' %}
{% block title%}Help{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <img src="static/audibleON_logo.png" width="50">
    <h4>AudibleON Help and User Guide</h4>
    <h5>ASL to Text</h5>
    <p>To use the ASL to Text feature, navigate to the Translate page via the navigation bar and select the 'ASL to Text'
    button. Enable camera access and wait for the video processing module to load. Once loaded, press the 'restart' button
    for optimal performance. With the 'Words' button toggled, try signing some of the phrases that the model was trained
    on: 'Hello', 'Yes', 'No', 'I love you', 'Telephone', 'Mom', 'Stand', 'Help', 'I', and 'Thank you.' To change to our
    letter model, press the 'Letters' button. Try signing some letters in the English alphabet! To add a space to the
    output in the letters model, show the palm of your hand. To delete a letter from the translated output, show the
    back of your hand.</p>
    <h5>Text to ASL</h5>
    <p>To use the Text to ASL feature, navigate to the Translate page via the navigation bar and select the 'Text to ASL'
    button. Enter the sentence that you want to convert to ASL into the pop up and press 'Translate'. Wait for the video
    to load, and then watch the video! If you want to translate another sentence, press the 'Enter Text' button.</p>
    <h5>Audio to ASL</h5>
    <p>To use the Audio to ASL feature, navigate to the Translate page via the navigation bar and select the 'Audio to ASL'
    button. Press 'Start Recording' and begin speaking into your device microphone. When you are finished with your
    recording, press 'Stop Recording.' The output transcription of your audio recording is shown in the box below. The
    video translation of the sentence is shown in ASL on the side.</p>
    <h5>Connect Online</h5>
    <p>To use the Connect Online feature, navigate to the Translate page via the navigation bar and select the 'Connect Online'
    button. Enter the id of your room that you are joining, or a new id if you are creating a room. Then, enable your webcam
    enter the name that you wish to be seen as in the chat room. If you are translating from ASL to text, use the buttons as
    described in the ASL to text directions above. If you are translating recorded audio to ASL, use the instructions above
    for the Audio to ASL interpretation. To edit text, simply type your entry in the text box. Press the 'send message' button
    to send your message to the chat room. To exit the chat, press the 'Leave Chat' button beneath the chat log box.</p>

    <h5>User Account</h5>
    <p>To update your user account, head to the 'Account' area on the navigation menu. Click the 'Profile' button. To access
    your account settings, toggle the 'Account Settings' area. To change your username, click the 'Change Username' dropdown,
    enter your new username, and press 'Update username.' To change your password, click the 'Change password' dropdown,
    enter your current password and your new password, then press 'Update password.'</p>
</div>
{% endblock %}