<!DOCTYPE html>
{% extends 'base.html' %}
{% block title%}Translate{% endblock %}

{% block style %}
    .btn-primary:hover {
        background-color: #3157d4;
        border-color: #3157d4;
    }
    .btn-primary {
        background-color: #3863f2;
        border-color: #3863f2;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 300px;
        height: 100px;
        font-size: 175%;
    }

{% endblock %}

{% block content %}
<div class="d-grid gap-4 col-5 mx-auto d-md-block">
  <button class="btn btn-primary btn-lg" type="submit" onclick="location.href = '/translate/fromASL';">Translate from ASL</button>
  <button class="btn btn-primary btn-lg" type="submit" onclick="location.href = '/translate/toASL';">Translate to ASL</button>
  <button class="btn btn-primary btn-lg" type="submit" onclick="location.href = '/translate/audio';">Audio to Text</button>
  <button class="btn btn-primary btn-lg" type="submit" onclick="location.href = '/translate/connect';">Connect Online</button>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <form method="post">
                <input type="submit" value="Start Translation" />
            </form>
            <img src="{{ url_for('views.video_feed') }}">
        </div>
    </div>
</div>-->
{% endblock %}