{% extends 'base.html' %}
{% block title %}Saved Phrases{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <p>Okay this is the page for the user's saved phrases. User should be able to:</p>
    <li>view all previously saved phrases</li>
    <li>add a new phrase with a tag view text</li>
    <li>search through existing tags to find phrases</li>
    <li>delete phrases at will</li>
    <li>it would also be cool if they had a list of their most used phrases</li>
    <li>after selecting a phrase and clicking on it, a large card with the text should appear on the screen, so that they can easily share it with others</li>
    <li>card should be dismissable and return the user back to their search results</li>
</div>
{% endblock %}