<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Translate to ASL{% endblock %}

{% block style %}
    .row {
      padding-top: 20px;
    }
{% endblock %}

{% block content %}


<div class="row">
    <div class="col align-items-start"></div>
    <div class="col align-items-center">
        {% if videos %}
        <video id="videoPlayer" class="video-js vjs-default-skin vjs-big-play-centered" autoplay controls width="640px" height="360px">
        </video>
        {% endif %}
    </div>

    <div class="col align-items-end"></div >
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="exampleModal" id="launchModal">
          Enter Text
        </button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Text to ASL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form id="text-to-translate" action="#" method="post">
          <div class="modal-body">
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Enter the text for translation to ASL below:</label>
                <textarea class="form-control" name="text" id="message-text"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Translate</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!--while video is not made yet, spin-->
<!--<div class="d-flex justify-content-center">-->
<!--  <div class="spinner-border" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--</div>-->


{% endblock %}


{% block script %}
<script>
<!--   $(document).ready(function(){-->
<!--      $("#exampleModal").modal('show');-->
<!--   });-->

   $('#launchModal').on('click', function (e) {

        $("#exampleModal").modal('show');

    });

    {% if videos %}

    var videos = '{{ videos }}';
    let resources = [];

    videos = JSON.parse(videos.replace(/&#34;/g,'"'));
    console.log(videos)

    videos.forEach(video => {
        let vidName = video;
        console.log(vidName);
        let resource = {
            sources: [{
                src: vidName,
                type: 'video/mp4'
            }],
        }
        resources.push(resource)
    });

    var player = videojs('videoPlayer');
    player.playlist(resources);
    player.playlist.autoadvance(0);

    {% endif %}

</script>
{% endblock %}