{% extends 'base.html' %}
{% block title %}Translate from ASL{% endblock %}
{% block style %}
    .row {
      padding-top: 20px;
    }

     #container {
             margin: 0px auto;
             border: 10px #333 solid;
         }
         #videoElement {
             width: 640px;
             height: 480px;
             background-color: #666;
         }

         #imageElement {
             width: 640px;
             height: 480px;
             background-color: #666;
         }

         #canvasElement {
             width: 640px;
             height: 480px;
             display: none;
         }
{% endblock %}

{% block content%}

<div class="row">
    <div class="col align-items-start"></div>
    <div class="col align-items-center">
        {% if translating and wordsModel %}
<!--        <h2>Press 'q' to end the translation</h2>-->

            <video autoplay="true" id="videoElement">
            </video>
            <img id="imageElement" src="{{ url_for('main.video_feed2') }}">
            <canvas id="canvasElement"></canvas>
<!--        <div id="container">-->
<!--            <div>-->
<!--            <video autoplay="true" id="videoElement"></video>-->
<!--                <canvas id="canvasElement"></canvas>-->

<!--                <img id="photo">-->
<!--            </div>-->
<!--        </div>-->
<!--        <img src="{{ url_for('main.video_feed2') }}">-->
        {% elif translating %}
        this is the view for the alphabet translator
        {% endif %}

    </div>

    <div class="col align-items-end">
        {% if translating %}
        <h3>Translation output</h3>
        <textarea class="form-control" id="words" rows="5" disabled readonly></textarea>
        <button type="button" id="audio" class="btn btn-primary" onclick="getAudio()">Play Audio</button>
        {% endif %}
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
        <form method="POST">
        {% if not translating %}
        <input type="submit" class="btn btn-lg btn-success" name="translateButton" value="Words">
        <input type="submit" class="btn btn-lg btn-success" name="translateButton" value="Alphabet">
        {% elif translating %}
        <input type="submit" class="btn btn-lg btn-danger" name="translateButton" value="Restart Translation">
        {% endif %}
        </form>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}
<script>
   $('#launchModal').on('click', function (e) {

        $("#stopTranslate").modal('show');

    });

    var myTimer = setInterval(updateText, 3000);

    function updateText(){
        var updatedText = $.get("{{ url_for('main.get_words') }}");

        updatedText.done(function(results) {
            var result = "";
            results.results.forEach(item => {
                item = item.replaceAll("_", " ");
                result = result.concat(" ", item);
            });
            $('#words').text(result);
        });

    }

    function getAudio(){
        var updatedText = $.get("{{ url_for('main.get_words') }}");

        updatedText.done(function(results) {
            var result = "";

            results.results.forEach(item => {
                item = item.replaceAll("_", " ");
                result = result.concat(" ", item);
            });

            console.log(result)
            var msg = new SpeechSynthesisUtterance('Translated output:'+result);
            window.speechSynthesis.speak(msg);

        })
    }

    document.addEventListener('keypress', (event) => {
      var name = event.key;
      var code = event.code;
      // Alert the key name and key code on keydown
      console.log(`Key pressed ${name} \r\n Key code value: ${code}`);
      if (name === 'q') {
        clearInterval(myTimer);
      }
    }, false);

</script>
{% endblock %}